<div class="header mb-3 mb-md-0">
    <div class="container py-4">
        <div class="d-flex justify-content-between">
            <div class="px-0 d-flex align-items-center justify-content-start">
               <img src="assets/images/logo/logo.svg" alt="">
            </div>

            <div class="px-0 d-flex align-items-center justify-content-end">
              <ul>
                <li class="text-secondary font-15 clickable px-3 py-2">HOME</li>
                <li class="text-secondary font-15 clickable px-3 py-2">ABOUT</li>
                <li class="text-secondary font-15 clickable px-3 py-2">CONTACT</li>
              </ul>
              <button [routerLink]="['/auth/login']" class="main-btn main font-15 border-radius-25 px-4">LOGIN</button>
            </div>
        </div>
    </div>
</div>
