.card {
  height: 567px;
  width: 767px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;

  .login-img {
    width: 363px;
    height: 567px;
  }
}
