$menu-item-height: 40px;

a {
  text-decoration: none !important;
}

.clickable {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5 !important;
}

body {
  text-align: start;

  .cdk-global-overlay-wrapper {
    direction: ltr !important;
  }
}

[dir=rtl] * {
  direction: rtl;
}
